/*--------------------------------------------------------------
# Offcanvas
--------------------------------------------------------------*/
.offcanvas {
    @include size(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 999;
    padding: ($cta-thin-height + $site-header-height + $spacing-unit) $spacing-unit--small 0;
    background-color: $white;
    transition: all .2s;
    
    .offcanvas-open & {
        left: 0;
    }

    .header-collapsed & {
        padding-top: $site-header-height + $spacing-unit;
    }
}

body.offcanvas-open {
    overflow: hidden;
}