/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
.section {
    padding: $spacing-unit--large 0;
    .section__header {
        text-align: center;
        margin-bottom: $spacing-unit + $spacing-unit--small;
        h2 {
            font-size: 30px;
            &.big{
                font-size: 38px;
            }
            @include mq($from: desktop) {
                font-size: 35px;
            }
        }
        p {
            max-width: 600px;
            margin: $spacing-unit--small auto 0;
            a {
                color: $color-link;
                @include attention() {
                    color: $color-link--hover;
                }
            }
        }
    }
    &--bg {
        background-color: lighten($black, 95%);
    }
}